<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920041749156-aefer6nio6gfmof07e79u1h6u3ml9r3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920041749156-aefer6nio6gfmof07e79u1h6u3ml9r3j</string>
	<key>API_KEY</key>
	<string>AIzaSyA28vFZhSb_E4DC2ISOt9ovskLeVzzSn1M</string>
	<key>GCM_SENDER_ID</key>
	<string>920041749156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutapp</string>
	<key>PROJECT_ID</key>
	<string>trojan-workout</string>
	<key>STORAGE_BUCKET</key>
	<string>trojan-workout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920041749156:ios:ac63f2d5b581e54524c431</string>
</dict>
</plist>